@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&display=swap');


body{
  font-family: 'Roboto', sans-serif;
}

.input {
  @apply w-full p-3 py-2 bg-transparent border-b outline-none focus:border-b-indigo-400 focus:border-b-2 rounded-sm ;
}

.btn {
  @apply bg-zinc-800 px-3 py-2 text-white rounded-md;
}

.label {
  @apply capitalize;
}

.formInput {
  @apply p-3 py-2 border rounded-md outline-none focus:ring-2 focus:ring-indigo-400;
}

.myScroll::-webkit-scrollbar {
  @apply w-[5px] h-[5px];
}

.myScroll::-webkit-scrollbar-thumb {
  @apply bg-zinc-800;
}

.label {
  @apply px-4 text-zinc-400 font-semibold text-lg py-1;
}
